
<footer class="footer">
    <div class="container-fluid mt-1 py-1 bg-light text-center rounded">
        <div class="col-12">
        <span class="text-muted">© Our plant website</span>
        </div>
    </div>
</footer>