<!doctype html>
<html>
<head>
    <title><%= title %></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta name="description" content="Plant Sighting Reporter and Chat">
    <meta name="keywords" content="Plant, Sightings, Chat">
    <meta name="author" content="Team BSc02">
    <meta property='og:title' content='<%= title %>'/>
    <meta property='og:description' content='Plant Sighting Reporter and Chat'/>
    <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">
    <% for (var i=0; i<stylesheets.length; i++) { %>
    <link rel="stylesheet" type="text/css" href="<%= stylesheets[i] %>" />
    <% } %>
    <% for (var i=0; i < javascripts.length; i++) { %>
    <script type="text/javascript" src="<%= javascripts[i] %>"></script>
    <% } %>
</head>
<header class="align-items-center rounded">
    <div class="row">
        <div class="col">
            <a href="/view_all" class="link-success" data-toggle="tooltip" data-placement="bottom" title="View all sightings"><img class="logo" src="static/images/logo.png" alt=""></a>
        </div>
        <div class="d-flex align-items-center col justify-content-center">
            <h1 class="text-center text-primary">Planttrest</h1>
        </div>
        <div class="d-flex align-items-center col justify-content-end text-primary">
            <a href="/sightings" class="link-success" data-toggle="tooltip" data-placement="bottom" title="Add sighting"><i class="bi bi-clipboard-data pe-2" href="/sightings" style="font-size: 60px;"></i></a>
        </div>
    </div>
</header>
<body class="bg-success-subtle w-100">

