<!doctype html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css" />

</head>
<header class="align-items-center bg-light container">
    <div class="row">
        <div class="col-sm-4">
            <img class="logo" src="static/images/logo.png" alt="">
        </div>
        <div class="d-flex align-items-center col-sm-4 justify-content-center"">
            <h1 class="text-center text-success">Planttrest</h1>
        </div>
        <div class="col-sm-4"></div>
    </div>
</header>



