<!doctype html>

<head>
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css" />
    <header class="align-items-center bg-light">
        <img class="logo" src="static/images/logo.png">
        <h1 class="text-center"><%= title %></h1>
    </header>
</head>
<html>


