<!doctype html>
<html>
<head >
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta name="description" content="Plant Sighting Reporter and Chat">
    <meta name="keywords" content="Plant, Sightings, Chat">
    <meta name="author" content="Team BSc02">
    <meta property='og:title' content='<%= title %>'/>
    <meta property='og:description' content='Plant Sighting Reporter and Chat'/>
    <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">
    <% for (var i=0; i< stylesheets.length; i++) { %>
    <link rel="stylesheet" type="text/css" href="<%= stylesheets[i] %>" />
    <% } %>
    <% for (var i=0; i < javascripts.length; i++) { %>
    <script type="text/javascript" src="<%= javascripts[i] %>"></script>
    <% } %>
</head>
<header class="align-items-center rounded mb-2">
    <div class="bg-warning text-dark text-center p-2 hidden" id="client_warn">
        Error: Could not connect to IndexedDB, Offline mode is not available.
    </div>
    <div class="row">
        <div class="col-4">
            <a href="/" class="link-success" data-toggle="tooltip" data-placement="bottom" title="View all sightings"><img class="logo" src="/static/images/logo.png" alt=""></a>
        </div>
        <div class="d-flex align-items-center col-4 justify-content-center">
            <h1 class="text-center text-primary">Planttrest</h1>
        </div>
        <div class="collapse navbar-collapse col-4 justify-content-end" id="navbarNavDropdownMobile" >
            <a class="btn btn-secondary dropdown-toggle d-flex justify-content-center align-items-center" href="#" role="button" id="mobileDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-justify" style="font-size: 24px"></i>
            </a>
            <ul class="dropdown-menu text-center" aria-labelledby="mobileDropdown">
                <li class="nav-item">
                    <a class="nav-link" href="/login">Nickname: <span id="nickname"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link-success" href="/" data-toggle="tooltip" data-placement="bottom" title="Add sighting">
                        <i class="bi bi-search pe-2" style="font-size: 24px;"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link-success" href="/sight" data-toggle="tooltip" data-placement="bottom" title="Add sighting">
                        <i class="bi bi-clipboard-data pe-2" style="font-size: 24px;"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="d-flex align-items-center col-4 justify-content-end text-primary" id="navbarNavDropdown" >
            <a href="/login">Nickname: <span id="nickname"></span> </a>
            <a href="/" class="link-success" data-toggle="tooltip" data-placement="bottom" title="Add sighting"><i class="bi bi-search pe-2"  style="font-size: 60px;"></i></a>
            <a href="/sight" class="link-success" data-toggle="tooltip" data-placement="bottom" title="Add sighting"><i class="bi bi-clipboard-data pe-2" style="font-size: 60px;"></i></a>
        </div>
    </div>
</header>
<body class="bg-success-subtle w-100">

