
div{
  /*background-color: #45802E;*/
}
a {
  color: #00B7FF;
}

.space-around {
  display: flex;
  justify-content: space-around;
}


.hidden {
  display: none; !important;
}

footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #000;
  background-color: #f0f7f8;
}

header{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  border-bottom: 1px solid #000;
  background-color: #f0f7f8;
  z-index: 100;
}
html body {
  padding-top: 100px;
}

.text-primary {
  color: #537f1b !important;
}

.mouseover-overlay{
  display: block;
  opacity: 0;
  animation: animateMouseLeave 200ms;
}

.mouseover-overlay:hover{
  animation: animateMouseOver 200ms;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 100;
}

.template{
  display: none !important;
}

.w-24{
  width: 24% !important;
}

@keyframes animateMouseOver{
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes animateMouseLeave {
    from {opacity: 1;}
    to {opacity: 0;}
}
.logo{
  width: 100px;
  height: 100px;
}

.star{
  color: red;
}

.thumbnail{
  width: 100px; !important;
  height: 100px; !important;
}

.thumbnail-sm{
  width: 4vw; !important;
  height: 4vw; !important;
  background-color: linen;
}


@media(min-width: 995px) {
  #navbarNavDropdownMobile{
    display: none !important;
  }
  .image-card{
    display: flex !important;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
  }
  body {
    padding: 50px;
    /*background-color: rgb(230,224,199);*/
  }
  #plantPhotoPhone{
    display: none;!important;
  }
}
@media (max-width: 994px) {
  #navbarNavDropdown{
    display: none !important;
  }
  #navbarNavDropdownMobile{
    display: inline-flex !important;
    align-content: end;
  }
  #navbarNavDropdownMobile.navbar-collapse{
    flex-basis: 0%;

  }
  .image-card{
    display: flex !important;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: fit-content;
  }
  body {
    padding: 10px;
    /*background-color: rgb(230,224,199);*/
  }
  .w-24{
    width: 80% !important;
  }
  .thumbnail-sm{
    width: 30px;
    height:30px;
  }
  .thumbnail{
    width: 30px;
    height: 30px;
  }
  .d-flex.container.row.px-0.image-card{
    padding-top: 40px;
  }

  #navbarSupportedContent.navbar-collapse {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .dropdown {
    margin-right: 1rem;
    padding-bottom: 10px;
  }
  #navbarSupportedContent.form-control {
    width: 100%;
    max-width: 200px;
  }
  .btn {
    margin-top: 10px;
  }
  body{
    margin-bottom: 20px;
  }
  #reverseRow {
    flex-basis: 100%;
    max-width: 100%;
    display: flex;
  }

  #reverseRow .row {
    display: flex;
    flex-direction: column;
  }

  .col.pt-4.ps-lg-4{
    text-align: center;
  }
  .d-flex.row.flex-row{
    display: flex;
    justify-content: center;
  }
  #plantPhotoPhone{
    display: inline-flex;!important;
    width: fit-content;
  }
  #plantPhotoPhone.bg-secondary-subtle{
    width: 90%;
  }
  #plantPhoto{
    display: none;
  }
}