<%- include('partials/header',{title: title,stylesheets: stylesheets, javascripts: javascripts}) %>
<head>
    <meta charset="UTF-8">
    <title>Cached Page</title>
</head>
<body>
    <h2>Page is cached</h2>
</body>
<%- include('partials/footer') %>