<%- include('partials/header',{title: title,stylesheets: stylesheets, javascripts: javascripts}) %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Set Nickname</title>
</head>
<body>
<div class="container">
    <h1 class="mt-5">Welcome to Planttrest</h1>
    <p>Please set your nickname:</p>
    <form id="nicknameForm">
        <div class="mb-3">
            <input type="text" class="form-control" id="nicknameInput" placeholder="Enter nickname" required>
        </div>
        <button type="submit" class="btn btn-primary">Set Nickname</button>
    </form>
    <a href="/login" class="link-success" data-toggle="tooltip" data-placement="bottom" title="Change nickname" id="logged_nickname"></a>
</div>

<script>
    let objStores = {
        users: {
            autoIncrement: true,
            unique: true
        }
    };

    // Handler for DB
    let handler = new indexDBHandler('nicknames', objStores);

    document.getElementById('nicknameForm').addEventListener('submit', function (event) {
        event.preventDefault();
        var nameinput = document.getElementById('nicknameInput').value;
        // Whever to login or register
        let register = true;
        // Check all users to logout and login or register account
        handler.getAll('users', function (result) {
            for (var i = 0; i <= Object.keys(result).length - 1; i++) {
                let user = result[i];
                // Logout
                if (user['active']) {
                    user['active'] = false;
                    handler.update('users', i+1, result[i], function (result) {
                        console.log('Logged Out');
                    });
                }
                let register = true;
                if (user['name'] === nameinput) {
                    register = false;
                    user['active'] = true;
                    handler.update('users', i+1, result[i], function (result) {
                        console.log('Logged In');
                    });
                }
            }
            if (register) {
                let data = {"name": nameinput, active: true};
                //save nickname to IndexDB
                handler.create('users', data, function(result){
                    console.log('Nickname saved.');
                });
            }
        });

        // redirect to home page but logged in
        //window.location.href = "/";

        // Show current nickname
        handler.request('users', 1, function(result) {
            document.getElementById("logged_nickname").textContent = "Nickname: " + result['name'];
        });

    });
</script>
</body>
</html>