<%- include('partials/header',{title: title,stylesheets: stylesheets, javascripts: javascripts}) %>
<div class="container pt-1 pb-1">
    <div class="row">
        <div class="pb-2 bg-light rounded">
            <div class="p-2 text-center">
                <h2 class="text-primary">Record plant sighting</h2>
            </div>
            <form action="/sight/add" method="POST" enctype='multipart/form-data'>
                <div class="form-group pt-1">
                    <label for="userNickName">Nickname<sup class="star">*</sup>: </label>
                    <input class="form-control" type="text" id="userNickName" name="userNickName" required>
                </div>
                <div class="form-group pt-1">
                    <label for="givenName">Plant name (if known): </label>
                    <input class="form-control" type="text" id="givenName" name="givenName">
                </div>
                <div class="form-group pt-1">
                    <label for="description">Description</label>
                    <textarea class="form-control" id="description" name="description" rows="3"></textarea>
                </div>
                <div class="form-group p-1">
                    <div class="d-flex form-group pt-1 justify-content-between">
                        <div class="form-group w-50 pt-1 pr-1">
                            <label for="lat">Sighting Lat<sup class="star">*</sup>: </label>
                            <input class="form-control lat_nav" type="string" id="lat" name="lat" required>
                        </div>
                        <div class="form-group w-50 pt-1 pr-1">
                            <label for="long">Sighting Long<sup class="star">*</sup>: </label>
                            <input class="form-control long_nav" type="string" id="long" name="long" required>
                        </div>
                    </div>
                    <button class="btn btn-secondary mt-2 w-100 hidden" type="button" id="get_location" onclick="getLocation('lat_nav','long_nav','get_location')">Get Current Location</button>
                </div>
                <div class="form-group pt-1">
                    <label for="plantEstHeight">Plant height<sup class="star">*</sup>: </label>
                    <input class="form-control" type="number" id="plantEstHeight" name="plantEstHeight" required>
                </div>
                <div class="form-group pt-1">
                    <label for="plantEstSpread">Plant spread<sup class="star">*</sup>: </label>
                    <input class="form-control" type="number" id="plantEstSpread" name="plantEstSpread" required>
                </div>
                <div class="form-group pt-1">
                    <label for="hasFlowers">Does the plant have flowers<sup class="star"></sup>: </label>
                    <input class="form-check-input" type="checkbox" id="hasFlowers" name="hasFlowers" onclick="showColour()">
                </div>
                <div class="color-picker hidden" id="colourShow">
                    <label for="colorInput">Plant colour: </label>
                    <input type="color" id="colorInput" value="#000000"  >
                    <div class="color-preview" id="colorPreview"></div>
                </div>

                <div class="form-group pt-1">
                    <label for="hasFruit">Does the plant have fruit<sup class="star"></sup>: </label>
                    <input class="form-check-input" type="checkbox" id="hasFruit" name="hasFruit">
                </div>
                <div class="form-group pt-1">
                    <label for="hasSeeds">Does the plant have seeds<sup class="star"></sup>: </label>
                    <input class="form-check-input" type="checkbox" id="hasSeeds" name="hasSeeds">
                </div>
                <div class="form-group pt-1">
                    <label for="sunExposureLevel">Sun exposure level (Percent of Sun Available)<sup class="star">*</sup>: </label>
                    <input class="form-range" type="range" id="sunExposureLevel" name="sunExposureLevel" min="0" max="100" step="0.5" list="sunsettings" required>
                    <div class="d-flex justify-content-between p-0">
                        <label for="sunExposureLevel">|</label>
                        <label for="sunExposureLevel">|</label>
                        <label for="sunExposureLevel">|</label>
                        <label for="sunExposureLevel">|</label>
                        <label for="sunExposureLevel">|</label>
                    </div>
                    <div class="d-flex justify-content-between">
                        <label for="sunExposureLevel">0%</label>
                        <label for="sunExposureLevel">25%</label>
                        <label for="sunExposureLevel">50%</label>
                        <label for="sunExposureLevel">75%</label>
                        <label for="sunExposureLevel">100%</label>
                    </div>
                </div>
                <div class="form-group pt-1">
                    <label for="photoUpload">Photo: </label>
                    <input class="form-control" accept="image/*" type="file" id="photoUpload" name="photoUpload">
                </div>
                <div class="hidden">
                    <input class="form_control dateTime" type="string" id="dateTime" name="dateTime" value="">
                </div>
                <div class="form-group pt-1">
                    <label for="identificationStatus">Status: </label>
                    <select class="form-control" id="identificationStatus" name="identificationStatus">
                        <option value="Pending">Pending</option>
                        <option value="Identified">Identified</option>
                    </select>
                </div>
                <input class="btn btn-success mt-2 w-100" type="submit" onclick="createSighting();" value="Save">
            </form>
        </div>
    </div>
</div>


<%- include('partials/footer') %>