body {
  padding: 50px;
  /*background-color: rgb(230,224,199);*/
}
div{
  /*background-color: #45802E;*/

}
a {
  color: #00B7FF;
}

.space-around {
  display: flex;
  justify-content: space-around;
}

.logo{
  width: 100px;
  height: 100px;
}

.hidden {
  display: none; !important;
}